.Rproj.user
.Rhistory
.RData
.Ruserdata
step2_descriptive_statistics/output/.DS_Store
step2_descriptive_statistics/.DS_Store
step1_data_wrangling/output/.DS_Store
step1_data_wrangling/.DS_Store
raw_data/.DS_Store
Power_analysis/.DS_Store
fig/.DS_Store
.~eory_IM_Models.doc
.vscode/extensions.json
.Rhistory
.DS_Store
step4_robust_check/check2_prior_Q_as_0/output/.~eory_Anx_Models.doc
step4_robust_check/check2_prior_Q_as_0/output/.~eory_IU2_Models.doc
step4_robust_check/check2_prior_Q_as_0/output/.~eory_IU_Models.doc
step4_robust_check/check2_prior_Q_as_0/output/.~eory_RA_Models.doc
Uncertainty.Rproj
Uncertainty.Rproj
